FLASK_APP=run.py
FLASK_DEBUG=1
SECRET_KEY=cambia-esta-clave
COOKIE_SECURE=0

DEFAULT_ADMIN_NICKNAME=admin
DEFAULT_ADMIN_PASSWORD=admin123

DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=restobar
